.DS_Store
/nvim.log
files/config/fish/completions/
files/config/fish/conf.d/
files/config/fish/fish_variables
files/config/fish/functions/
files/config/nvim/lua/choco14t/private.lua
files/config/nvim/lua/plugins/local.lua
